* {
    box-sizing: border-box;
}

body {
    font-size: 112.5%;
    
    margin: 0;

    padding: 20px;

    display: grid;

    grid-template-rows: auto auto 20px;

    height: 100vh;

    background-color: black;

    font-family: 'Roboto Mono', monospace;

    
}


 /* Header */

header {

align-items: center;
background-color:  #004087 ;
color: white;



}

.name {
    text-align: center;
    margin: 10px 0;
}

nav {

display: flex;
flex-wrap: wrap;
justify-content: space-evenly;

}


.navitem {

border: 1px solid black ;
margin: 4px 0;
padding: 4px;
color: white;


}

/* Main */

main {

overflow: auto;

}


img {

    width: 100%;


}


 



.card {


border: 10px groove #004087;
margin: 20px 0;
padding: 10px;
background-color: white;

}




.github {

background-color: #004087;

}

.codepen {

background-color: white;

}

.linkedin {

background-color: black;

}

footer {

color: white; 

}

.socials {

display: flex;
flex-direction: column;

}


.tags {

display: grid;
grid-template-columns: repeat(2, 1fr);



}

ul {

list-style-type: none;
margin: 0;
padding: 0;

}

li {


    border: 4px outset #004087;
    padding: 2px;
    margin: 2px;
    text-align: center;

}

h1 {

    font-family: 'Bangers', cursive;

}



h2 {

    font-family: 'Montserrat Subrayada', sans-serif;

}




